* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	background-color: #ffffff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	text-align: center;
}

a {
	color: #85859c;
	text-decoration: underline;
}

a:hover {
	color: #69699c;
}

span {
	display: none;
}

img {
	border: none;
}

p {
	margin: 10px 0px 5px;
	text-align: justify;
	line-height: 14px;
}

.clearthis {
	margin : 0px;
	height : 1px;
	clear : both;
	float : none;
	font-size : 1px;
	line-height : 0px;
	overflow : hidden;
}

#contenedor {
	margin: 0px auto;
	width: 780px;
	border-color: #9e9ec3;
	border-width: 0px 1px 1px;
	border-style: solid;
	min-height:500px;
}
* html #contenedor{
	height:500px;
}
input {
	padding-left: 2px;
	background-color: #fff;
	color: #85859c;
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
	border: 1px solid #65657c;
}


/* Page Header */

#encabezado {
	width: 100%;
	height: 113px;
	color: #fff;
	background: url('imagenes/header_background.gif') repeat-x 0px 0px;
	overflow: hidden;
	text-align: left;

}

#encabezado h1{
	margin-top: 30px;
	font-size: 40px;
	display: inline;
	vertical-align: 80%;
}

#encabezado img{
	margin-left:0px;
	height:112px;
}
#page_heading {
	width: 190px;
	height: 75px;
	background: url('imagenes/company_logo.jpg') no-repeat 35px 37px;
	float: left;
}

#page_heading h1 {
	width: 190px;
	height: 52px;
	background: url('imagenes/company_name.jpg') no-repeat 56px 36px;
	float: left;
}

#page_heading h2 {
	width: 190px;
	height: 16px;
	background: url('imagenes/company_punchline.jpg') no-repeat 56px 2px;
	float: left;
	clear: both;
}

#page_headerlinks {
	padding-right: 20px;
	padding-top: 25px;
	width: 275px;
	float: right;
	text-align: left;
	word-spacing: -1px;
}

#page_headerlinks ul {
	list-style-type: none;
}

#page_headerlinks li {
	padding: 0px 10px 0px 9px;
	float: left;
	list-style-type: none;
	background: url('imagenes/header_toplinks_div.gif') no-repeat 100% 2px;
}

#page_headerlinks li.last {
	padding-right: 0px;
	background: none;
}

#page_headersearch {
	padding-right: 30px;
	padding-top: 25px;
	float: right;
	clear: right;
	width: 255px;
	text-align: left;
	word-spacing: -1px;
	overflow : hidden;
}

#page_headersearch h3 {
	float: left;
	font-weight: bold;
	font-size: 12px;
}

#page_headersearch form {
	padding-left: 3px;
	float: left;
}

#page_headersearch input {
	margin-top: 1px;
	padding-left: 2px;
	width: 158px;
	height: 14px;
	float: left;
	border: none;
}

#page_headersearch input.button {
	padding: 0px;
	margin-top: 0px;
	margin-left: 5px;
	width: 34px;
	height: 16px;
	background-color: transparent;
	float: left;
}


/* Main Navigation Menu */

#menu {
	width: 780px;
	height: 21px;
}

#menu ul {
	width: 780px;
	height: 21px;
	list-style-type: none;
	overflow: hidden;
}

#menu li {
	margin-right: 1px;
	width: 155px;
	height: 21px;
	float: left;
	background: url('imagenes/menu_background.gif') repeat-x 0px 0px;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}


#menu a {
	padding-top: 3px;
	display: block;
	color: #fff;
	text-decoration: none;
}

#menu a:hover {
	color: #e1e1e1;
}

#menu li#actual {
	background: #555555;
	font-weight: bold;
}

#submenu {
	margin-bottom: 1px;
	width: 780px;
	height: 21px;
}

#submenu ul {
	width: 780px;
	height: 21px;
	list-style-type: none;
	overflow: hidden;
}

#submenu li {
	margin-right: 0px;
	width: 156px;
	height: 21px;
	float: left;
	background: #555555;
	overflow: hidden;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}


#submenu a {
	padding-top: 3px;
	display: block;
	color: #fff;
	text-decoration: none;
}


#submenu a:hover,
#submenu li#smactual a{
	color: #bbbbbb;
}


/* Left Sidebar */

#menu_vertical {
	width: 135px;
	float: left;
	text-align: left;
	color: #8989b6;
	font-size: 12px;
}

#menu_vertical a {
	color: #8989b6;
}

#menu_vertical a:hover {
	color: #75759c;
}



/* Left Sidebar: Newsletter Signup Box */

#newsletter {
	margin-bottom: 2px;
	padding: 5px 5px 15px;
	width: 118px;
	border-color: #9e9ec3;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	overflow: hidden;
	font-weight: bold;
}

#newsletter h2 {
	padding-bottom: 10px;
	font-size: 10px;
}

#newsletter input {
	padding-left: 0px;
	width: 115px;
	height: 16px;
	border: #bfbfe6 1px solid;
	float: left;
	clear: left;
}

#newsletter input.button {
	margin-top: 3px;
	margin-left: 95px;
	width: 22px;
	height: 13px;
	border: none;
}

#newsletter #link_cancel {
	margin-top: 5px;
}


/* Left Sidebar : menu_vertical */

#menu_vertical {
	margin-bottom: 1px;
	padding: 1px 1px 1px 0px;
	border-color: #9e9ec3;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	text-align: center;
}

#menu_vertical_encabezado {
	margin-bottom: 2px;
	width: 134px;
	height: 20px;
	background-color: #9e9ec3;
	overflow: hidden;
}

#menu_vertical_encabezado h2 {
	margin-top: 3px;
	margin-left: 5px;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
}

#menu_vertical ul {
	margin: 0px auto;
	width: 120px;
	list-style-type: none;
}

#menu_vertical li {
	width: 120px;
	list-style-type: none;
	text-align: left;
	border-bottom: #b6b6d2 1px solid;
	float: left;
}

#menu_vertical li.last {
	border: none;
}

#menu_vertical li a {
	margin-top: 4px;
	margin-left: 6px;
	display: block;
	color: #ff0000;
	text-decoration: none;
}

#menu_vertical li a:hover {
	color: #56567c;
}


/* Left Sidebar : Special Offer */

#specialoffer {
	width: 129px;
	height: 98px;
	overflow: hidden;
	background: url('imagenes/specialoffer_background.jpg') no-repeat 0px 0px;
	color: #fff;
	font-size: 11px;
}

#specialoffer_text {
	width: 129px;
	height: 60px;
}

#specialoffer_text h2 {
	margin-top: 8px;
	margin-left: 10px;
	width: 113px;
	height: 38px;
	background: url('imagenes/specialoffer_header.gif') no-repeat 0px 0px;
}

#specialoffer_link {
	margin-left: 12px;
}

#specialoffer_link a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

#specialoffer_link a:hover {
	color: #f2f2f2;
}


/* Main Content Area */

#main_content {
	margin-right: 2px;
	width: 644px;
	text-align: center;
	float: right;
}

#main_content .h_divider {
	margin-bottom: 2px;
	height: 1px;
	background-color: #c2c2cd;
	overflow: hidden;
}


/* New Item Description */

#new_item {
	margin: 0px auto 2px;
	padding: 5px 10px;
	width: 600px;
	text-align: justify;
}

#new_item_header {
	margin-top: 10px;
	float: left;
	width: 348px;
}

#new_item_header h1 {
	color: #434367;
	font-size: 18px;
	font-weight: normal;
}

#new_item_header h2 {
	color: #434367;
	font-size: 14px;
	font-weight: bold;
	font-family: arial, tahoma, sans-serif;

}

#new_item_image {
	width: 245px;
	float: right;
	overflow: hidden;
	text-align: right;
}

#new_item_text {
	float: left;
	clear: left;
	width: 348px;
}

#new_item_link {
	float: left;
	clear: left;
	width: 348px;
	font-weight: bold;
	text-align: right;
}

#new_item_link a {
	text-decoration: none;
}


/* Sub Items Descriptions */

.sub_items {
	margin-bottom: 2px;
	margin-top: 5px;
	width: 644px;
	background: url('imagenes/item_sub_background.gif') repeat-y 0px 0px;
	text-align: justify;
}

.sub_left {
	padding-left: 5px;
	width: 300px;
	float: left;
}

.sub_right {
	padding-right: 15px;
	width: 315px;
	float: right;
}

.sub_items_header {
	padding-left: 20px;
	padding-top: 10px;
	float: left;
	width: 110px;
}

.sub_items_header h1 {
	color: #434367;
	font-size: 14px;
	font-weight: bold;
	font-family: arial, tahoma, sans-serif;
}

.sub_items_header h2 {
	color: #434367;
	font-size: 12px;
	font-weight: normal;
	font-family: arial, tahoma, sans-serif;
}

.sub_items_image {
	margin-top: 15px;
	float: right;
	text-align: right;
}

.sub_items_text {
	padding-left: 20px;
	float: left;
	clear: left;
	width: 110px;
}

.sub_items_cartinfo {
	padding-top: 12px;
	padding-left: 20px;
	color: #820721;
	font-family: arial, tahoma, sans-serif;
	float: none;
	clear: both;
}

.sub_items_cartinfo h2 {
	font-size: 14px;
	font-weight: bold;
}

.sub_items_cartinfo .price {
	float: left;
	text-align: left;
}

.sub_items_cartinfo .addtocart {
	margin-top: 2px;
	float: right;
	width: 100px;
	height: 12px;
	text-align: left;
	background: url('imagenes/button_addtocart.gif') no-repeat 0% 0%;
}


/* Page Footer */

#page_footer {
	width: 780px;
}

#powered_by {
	padding-top: 17px;
	float: right;
	width: 305px;
	height: 30px;
	color: #9595c2;
	text-align: center;
}

#powered_by a {
	color: #9595c2;
}

#product_brands {
	float: left;
}

#product_brands ul {
	width: 470px;
	list-style-type: none;
}

#product_brands li {
	margin: 5px 6px 3px 3px;
	height: 40px;
	list-style-type: none;
	float: left;
}

#product_brands li.zalcom {
	width: 107px;
	background: url('imagenes/brand_zalcom.gif') no-repeat 0px 0px;
}

#product_brands li.digital {
	width: 95px;
	background: url('imagenes/brand_digital.gif') no-repeat 0px 0px;
}

#product_brands li.adept {
	width: 126px;
	background: url('imagenes/brand_adept.gif') no-repeat 0px 0px;
}

#product_brands li.simtel {
	width: 99px;
	background: url('imagenes/brand_simtel.gif') no-repeat 0px 0px;
}

fieldset {
	margin-top: 10px;
	border:0;
	width:50%;
	}
form p{
	text-align:right;
	margin-right: 20px;
	}
form legend{
	padding-left: 50px;
	font-size: 15px;
	font-weight: bold;
}
#div_login{
	margin: 0 auto;
	width:300px;
	margin-top: 100px;
	background-color: #bebef3;
	color:#000000;
}
#form_login{
	margin-top:0;
	}
#form_login fieldset{
	border: 0;
	width: 100%;
	margin-top:0;
}

#parametros fieldset{
	width: 250px;
}


#form_clave{
	width: 250px;
	margin-left: 230px;
}

ul.path {
	width: 780px;
	height: 21px;
	list-style-type: none;
	overflow: hidden;
}

ul.path li {
	margin-left: 10px;
	height: 21px;
	float: left;
	overflow: hidden;
	font-size: 11px;
	font-weight: bold;
}
ul.path li a{
	text-decoration: none;
	}
pre#resultados{
	border:1px solid #000000;
	width: 500px;
	height: 280px;
	margin-left:40px;
	margin-top:10px;
	text-align:left;
	padding: 10px 10px 10px 10px;
	overflow: auto;
}
form.parametros_ocultos{
	display: none;

	}
form.parametros_visibles{
	display: inline;
	}
table{
	border:1px solid #85859c;
	margin-left: 10px;
	border-collapse: collapse;
	font-size: 14px;
	margin: 0px auto;


}
table thead{
	color:#ffffff;
	background-color:#85859c;
	font-weight: bold;
}
table tr td{
	padding: 2px 2px 2px 2px;
}
.boton{
	background-color:#e5e5fc;
	border: 1px solid #65657c;
	color: #65657c;
	text-decoration: none;
	padding:1px 2px 1px 2px;
	margin: 1px 0px 1px 0px;
}
.boton:hover{
	color:#ff0000;
	border: 1px solid #ff0000;
}
span#enejecucion{
	display: inline;
}

#usuario_logueado{
	position: absolute;
	top:10px;
	left:200px;
	color:#ffffff;
	font-weight:bold;
	border: 1px solid #ffffff;
}
#usuario_logueado a{
	color: #ff0000;
	}
.ganglia {
	padding-top: 1em;
}
#cuerpo{
	overflow:auto;
	width: 780px;

}